* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(245,245,245);
}
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
}
.nav1 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: relative;
    margin-top: 20px;
}
.nav1 input {
    width: 456px;
    height: 33px;
    position: relative;
    margin: auto;
    border-radius: 4px;
    text-align: left;
    font-size: 1rem;
}

.imgContainer {
    display: flex;
    gap:5rem;
    align-items: center;
}

.linkContainer {
    display: flex;
    position: relative;
    margin: auto;
    font-size: 1rem;
    gap: 1.8rem;
}

.nav2 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 20px;
    background-color: rgb(251,249,247);
    height: 55px;
}

.nav2 span {
    position: relative;
    text-align: center;
    font-weight: 500;
    color: rgb(0,0,66);
}

.imgContainer2 img {
    height: 39px;
    width: 91px;
    border-radius: 5px;
}

.glasses {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(245,245,245);
    position: relative;
    margin-top: 10px;
}
.glasses img {
    height: 156px;
    width: 235px;
}
h2 {
    display: flex;
    flex-direction: row;
    width: 94%;
    color: black;
}
h2:before, h2:after {
    content: '';
    flex: 1 1;
    border-bottom: 1px solid #cfcdcd;
    margin: auto 15px;
}

.main img{
    width: 100%;
    height: auto;
}
.discover img {
    width: 100%;
    height: auto;
}

